<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        {% include 'header_menu.html' %}
         
    
        <section class="section">
            <h2 class="section-header">About me</h2>
        
            <p class="author-name">Bablahblahblah :)</p>
            <div class="entry-content">
                <p style="text-align:center;"><a href="static/sailormoon_26.jpg"><img  src="static/sailormoon_26.jpg?w=567&amp;h=426" alt="_sailormoon_26" width="567" height="426" sizes="(max-width: 567px) 100vw, 567px"></a></p>
                <p>Dear friends!</p>
                <p>Từ khi tôi còn nhỏ, vì là một đứa trẻ cô độc và ít bạn, nên việc đọc sách, xem phim, viết nhật ký đã trở thành những thói quen thường xuyên giúp tôi giải khuây.</p>
                <p><i>Since I was little, being alone most of the time with only a few friends has made me very much interested in reading books, watching movies and keeping daily notes. These activities have become the regular pastimes to keep myself entertained.</i></p>
                <p>Sau này, thế nào đó mà tôi lại đi theo nghề báo. Viết lách đã trở thành một công việc, đôi khi hứng thú, đôi khi miễn cưỡng, nhưng không lúc nào tôi thực sự chán nó. Làm báo là một trong những việc thú vị nhất trên đời, ngay cả khi có những lúc, bạn không thể tự do viết mọi điều bạn muốn. Và để có thêm tự do cho mình, tôi nghĩ lập nên một trang blog cá nhân là điều hợp lý.</p>
                <p><i>Later in life, I somehow find myself working in journalism. Writing now becomes work – which I am sometimes eager to do while other times reluctant due to laziness. Yet, I have never once gotten bored. Reporting is one of the most interesting jobs, even though there are times when you are not allowed the freedom to write anything you like on newspapers. So to create more freedom for myself, I decide to set up a personal blog.</i></p>
                <p>Trang blog này tập hợp những bài viết tiếng Việt và tiếng Anh, với chủ đề liên quan đến các vấn đề xã hội – mảng đề tài tôi đang theo dõi trong công việc hàng ngày, cũng như phim ảnh, văn chương, những chuyến du lịch mà tôi đã trải qua. Bên cạnh đó, bạn cũng sẽ thấy những chia sẻ riêng tư của tôi về cuộc sống, về những câu chuyện đời thường, về bản thân tôi và những người sống quanh tôi.</p>
                <p><i>You will find in this blog a collection of articles in both Vietnamese and English, which discuss social affairs – the topics I have been working regularly, as well as articles about movies, novels and my travel experiences. In addition, you will also find stories about my life and people around me. &nbsp;</i></p>
                <p>Tôi rất hy vọng những chia sẻ của mình sẽ hữu ích phần nào với những người bạn chung niềm đam mê, dù chỉ là trong vài phút giải khuây, đồng thời giúp tôi có thêm những độc giả chân tình.</p>
                <p><i>I do hope my writing will be helpful in some way to like-minded friends, even in a few minutes of idleness, while also helping me find sincere readers.</i></p>
                <p>Cám ơn các bạn vì đã bớt chút thời gian ghé thăm nhà tôi.</p>
                <p><i>Thank you for taking the time to visit my home.</i></p>
                
        </section>   
            
        <footer class="footer">
            <hr>
            <p class="copy-right">Blogs 2021</p>
        </footer>
    
    </body>
</html>
