
<header class="header">
    <h1 class="header">Blogs Page</h1>
    
    <nav class="nav">
        <ul class="menu">
            <li class="menu-item">
                <a href="/" class="menu-link">Blogs</a>
            </li>
            <li class="menu-item">
                <a href="/about" class="menu-link">About</a>
            </li>
            <li class="menu-item">
                <a href="/resignation-letter" class="menu-link">Resignation Letter</a>
            </li>
        </ul>
    </nav>
</header>
       